@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 17.2414% 94.3137%;
    --foreground: 220 15.7895% 11.1765%;
    --card: 0 0% 100%;
    --card-foreground: 220 15.7895% 11.1765%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 15.7895% 11.1765%;
    --primary: 213.5714 41.5842% 39.6078%;
    --primary-foreground: 0 0% 100%;
    --secondary: 16.9091 43.6508% 50.5882%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 15% 92.1569%;
    --muted-foreground: 225 11.7647% 40%;
    --accent: 212.7273 39.2857% 89.0196%;
    --accent-foreground: 213.4426 49.5935% 24.1176%;
    --destructive: 2.1739 60% 45.098%;
    --destructive-foreground: 0 0% 100%;
    --border: 216 16.129% 81.7647%;
    --input: 216 16.129% 81.7647%;
    --ring: 215.6522 30.3965% 55.4902%;
    --chart-1: 213.5714 41.5842% 39.6078%;
    --chart-2: 16.9091 43.6508% 50.5882%;
    --chart-3: 205 34.4262% 52.1569%;
    --chart-4: 138 25.2525% 38.8235%;
    --chart-5: 41.1024 54.0426% 53.9216%;
    --sidebar: 217.5 16% 90.1961%;
    --sidebar-foreground: 220 15.7895% 11.1765%;
    --sidebar-primary: 213.5714 41.5842% 39.6078%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 212.7273 39.2857% 89.0196%;
    --sidebar-accent-foreground: 213.4426 49.5935% 24.1176%;
    --sidebar-border: 218.1818 13.253% 83.7255%;
    --sidebar-ring: 215.6522 30.3965% 55.4902%;
    --font-sans: Geist, ui-sans-serif, system-ui, sans-serif;
    --font-serif: "Instrument Serif", ui-serif, Georgia, serif;
    --font-mono: "Geist Mono", ui-monospace, "SF Mono", Menlo, monospace;
    --radius: 0.625rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 4px;
    --shadow-spread: -1px;
    --shadow-opacity: 0.08;
    --shadow-color: #181b21;
    --shadow-2xs: 0px 1px 4px -1px hsl(220 15.7895% 11.1765% / 0.04);
    --shadow-xs: 0px 1px 4px -1px hsl(220 15.7895% 11.1765% / 0.04);
    --shadow-sm:
      0px 1px 4px -1px hsl(220 15.7895% 11.1765% / 0.08),
      0px 1px 2px -2px hsl(220 15.7895% 11.1765% / 0.08);
    --shadow:
      0px 1px 4px -1px hsl(220 15.7895% 11.1765% / 0.08),
      0px 1px 2px -2px hsl(220 15.7895% 11.1765% / 0.08);
    --shadow-md:
      0px 1px 4px -1px hsl(220 15.7895% 11.1765% / 0.08),
      0px 2px 4px -2px hsl(220 15.7895% 11.1765% / 0.08);
    --shadow-lg:
      0px 1px 4px -1px hsl(220 15.7895% 11.1765% / 0.08),
      0px 4px 6px -2px hsl(220 15.7895% 11.1765% / 0.08);
    --shadow-xl:
      0px 1px 4px -1px hsl(220 15.7895% 11.1765% / 0.08),
      0px 8px 10px -2px hsl(220 15.7895% 11.1765% / 0.08);
    --shadow-2xl: 0px 1px 4px -1px hsl(220 15.7895% 11.1765% / 0.2);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 217.5 16.6667% 9.4118%;
    --foreground: 220 21.9512% 91.9608%;
    --card: 218.1818 16.4179% 13.1373%;
    --card-foreground: 220 21.9512% 91.9608%;
    --popover: 218.5714 16.6667% 16.4706%;
    --popover-foreground: 220 21.9512% 91.9608%;
    --primary: 213.5065 35.1598% 57.0588%;
    --primary-foreground: 214.2857 18.9189% 7.2549%;
    --secondary: 19.0654 53.7688% 60.9804%;
    --secondary-foreground: 20 52.9412% 6.6667%;
    --muted: 218.5714 16.6667% 16.4706%;
    --muted-foreground: 220.9091 11% 60.7843%;
    --accent: 212 32.6087% 18.0392%;
    --accent-foreground: 210.566 43.8017% 76.2745%;
    --destructive: 2.6471 61.2613% 56.4706%;
    --destructive-foreground: 4 51.7241% 5.6863%;
    --border: 217.8947 15.2% 24.5098%;
    --input: 217.8947 15.2% 24.5098%;
    --ring: 210.4615 37.5723% 66.0784%;
    --chart-1: 213.5065 35.1598% 57.0588%;
    --chart-2: 19.0654 53.7688% 60.9804%;
    --chart-3: 210.4615 37.5723% 66.0784%;
    --chart-4: 136.25 19.3548% 51.3725%;
    --chart-5: 41.7857 60.2151% 63.5294%;
    --sidebar: 214.2857 18.9189% 7.2549%;
    --sidebar-foreground: 220 21.9512% 91.9608%;
    --sidebar-primary: 213.5065 35.1598% 57.0588%;
    --sidebar-primary-foreground: 214.2857 18.9189% 7.2549%;
    --sidebar-accent: 212 32.6087% 18.0392%;
    --sidebar-accent-foreground: 210.566 43.8017% 76.2745%;
    --sidebar-border: 218.5714 16.6667% 16.4706%;
    --sidebar-ring: 210.4615 37.5723% 66.0784%;
    --font-sans: Outfit, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: #1a1a1a;
    --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
    --shadow-xs: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
    --shadow-sm:
      0px 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.1);
    --shadow: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.1);
    --shadow-md:
      0px 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.1);
    --shadow-lg:
      0px 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.1);
    --shadow-xl:
      0px 1px 3px 0px hsl(0 0% 10.1961% / 0.1), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.1);
    --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
